<ion-header>
  <ion-navbar>
    <ion-title>
        IONIC3 assignment
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
      <h1 >Counting Down From {{ countDown }}!</h1>
      <h2 *ngIf="!countCompleted">{{ count$ | async }}</h2>
      <h2 *ngIf="countCompleted">{{ message }}</h2>
  </div>
  <ion-list>
    <ion-item *ngFor="let c of countries">
      <ion-avatar item-left>
        <img src="{{c.flag}}">
      </ion-avatar>
      <h2>{{c.name}}</h2>
      <p>Capital: {{c.capital}}, Region: {{c.region}}</p>
    </ion-item>
  </ion-list>
</ion-content>
